[submodule "vendor/uvw"]
	path = vendor/uvw
	url = git@github.com:skypjack/uvw.git
[submodule "vendor/http-parser"]
	path = vendor/http-parser
	url = git@github.com:nodejs/http-parser.git
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = git@github.com:libuv/libuv.git
